<?xml version='1.0' encoding='utf-8'?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
 
  	<display-name>Archetype Created Web Application</display-name>
  	
<!--   	<context-param> -->
<!-- 		<param-name>LUCENE_INDEX_DIRECTORY_PATH</param-name> -->
<!-- 		<param-value>/usr/local/home/shubhamg/wikipedia-lucene-index/</param-value> -->
<!-- 	</context-param> -->

	
<!-- 	<context-param> -->
<!-- 		<param-name>MONGODB_DB_NAME</param-name> -->
<!-- 		<param-value>wiki3</param-value> -->
<!-- 	</context-param> -->
	
<!-- 	<servlet> -->
<!-- 	   	<servlet-name>ServletStart</servlet-name> -->
<!-- 	   	<servlet-class>edu.isi.webserver.ServerStart</servlet-class> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->

<!-- a filter for character encoding to utf-8 -->
		<filter>
  			<filter-name>CharacterEncodingFilter</filter-name> <!-- mandatory -->
  			<filter-class>edu.isi.serverbackend.filter.CharacterEncodingFilter</filter-class> <!-- mandatory -->
		</filter>
		
		<filter-mapping>
  			<filter-name>CharacterEncodingFilter</filter-name> <!-- mandatory -->
  			<url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
		</filter-mapping>


<!-- a single servlet declaration	 -->

   	<servlet>
		<servlet-name>Get-Nodes</servlet-name>
		<servlet-class>edu.isi.serverbackend.Servlet.LinkRankServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get-Nodes</servlet-name>
		<url-pattern>/rankServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>edu.isi.serveletdemo.DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/demoServlet</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>Store-Data</servlet-name>
        <servlet-class>edu.isi.serverbackend.Servlet.AnswerStoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Store-Data</servlet-name>
        <url-pattern>/storeServlet</url-pattern>
    </servlet-mapping>
    
   <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.isi.serveletdemo</param-value>
    </init-param>
    <init-param>
		<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
		<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
