<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  	<display-name>Archetype Created Web Application</display-name>
  	
<!--   	<context-param> -->
<!-- 		<param-name>LUCENE_INDEX_DIRECTORY_PATH</param-name> -->
<!-- 		<param-value>/usr/local/home/shubhamg/wikipedia-lucene-index/</param-value> -->
<!-- 	</context-param> -->

	
<!-- 	<context-param> -->
<!-- 		<param-name>MONGODB_DB_NAME</param-name> -->
<!-- 		<param-value>wiki3</param-value> -->
<!-- 	</context-param> -->
	
<!-- 	<servlet> -->
<!-- 	   	<servlet-name>ServletStart</servlet-name> -->
<!-- 	   	<servlet-class>edu.isi.webserver.ServerStart</servlet-class> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->



<!-- a single servlet declearation	 -->

   	<servlet>
		<servlet-name>Get-Nodes</servlet-name>
		<servlet-class>edu.isi.serverbackend.Servlet.LinkRankServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get-Nodes</servlet-name>
		<url-pattern>/rankServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>edu.isi.serveletdemo.DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/demoServlet</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>Store-Data</servlet-name>
        <servlet-class>edu.isi.serverbackend.Servlet.AnswerStoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Store-Data</servlet-name>
        <url-pattern>/storeServlet</url-pattern>
    </servlet-mapping>
    
   <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.isi.serveletdemo</param-value>
    </init-param>
    <init-param>
		<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
		<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
