#videoList{
	width: 100%;
	table-layout: fixed;
}
.videoTitle, .videoAuthor, .videoThumbnail, .videoRating{
	width: 15%;
}
.videoThumbnailImage{
	width: 100%;
}
.videoID {
	width: 10%;
}
.videoPath{
	width: 30%;
}
.likes{
	background-color: #00FF66;
}
.dislikes{
	background-color: #FF6666;
}
table,td,th{
	border: 1px solid DarkGray;
    border-collapse: collapse;
}
th,td{
	padding: 10px;
	overflow: hidden;
}
th{
	text-align: center;
}
td{
	text-align: left;
}
#secondarySearch{
	font-size: 1em;
	position: relative;
	font-family: JennaSue, sans-serif;
	text-align: center;
	width: 100%;
	padding: 20px;
}