#videoList{
	width: 80%;
	table-layout: fixed;
}
.videoInfo{
	padding: 20px;
}
.videoThumbnail{
	width: 30%;
}
.videoThumbnailImage{
	width: 100%;
	max-height: 200px;
}
.ratingInfo{
	list-style: outside none none;
}
.ratingInfo>li:first-child:before{
	display: none;
}
.ratingInfo>li:before{
	content: "•";
    margin: 0 5px;
}
.ratingInfo>li{
	display: inline-block;
}
td{
	text-align: left;
}
#secondarySearch{
	font-size: 1em;
	position: relative;
	font-family: JennaSue, sans-serif;
	text-align: center;
	width: 100%;
	padding: 20px;
}